
*{margin:0;padding:0;box-sizing:border-box;}

html,body{
    height:100%;
}

.car{
    width:100%;
    margin:50px auto;
    padding:0 2%;
}

.car h2 {
    text-align: center;
}

.car-items {
    list-style-type: none;
    padding: 0;
}

.car-items li {
    text-align:center;
    margin-top:20px;   
}

h3{
    text-align: center;
    margin-top:20px;
}